<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Rest Api website">
    <meta name="author" content="Alip">
    <meta property="og:image" content="https://telegra.ph/file/d555ac86d9b0c3b2f6bf4.jpg">
    <title>🍷Elias Modder Ofc🍷</title>
    <script src="https://kit.fontawesome.com/5367cb78eb.js" crossorigin="anonymous"></script>
    <link href="/index.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">

    <div id="wrapper">
   
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/docs">
                <img src="images/icon.png" class="rounded-circle shadow-4"style="width: 50px;" alt="Avatar" />
                <div class="sidebar-brand-text mx-3">Rest API</div>
            </a>
            
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Elias
            </div>

            <div class="sidebar-heading">
                Modder
            </div>
            <br>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-fw fa-arrow-down"></i>
                    <span>Downloads</span>
                </a>
                <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Downloads</h6>
                        <a class="collapse-item" href="/youtube/mp3?apikey=SUA_APIKEY&url=https://youtube.com/watch?v=KwM4yOwMls4" target="_blank">YtMp3</a>
                        <a class="collapse-item" href="/youtube/play?apikey=SUA_APIKEY&q=Quer Voar" target="_blank">YtPlay</a>              
                        <a class="collapse-item" href="/youtube/playmix?apikey=SUA_APIKEY&q=Matue" target="_blank">YtPlayMix</a>          
                        <a class="collapse-item" href="/api/fbdown?apikey=SUA_APIKEY&url=https://www.facebook.com/UstazAzharIdrusFansClub/videos/813224618838631" target="_blank">Facebook</a>
                        <a class="collapse-item" href="/api/twitter?apikey=SUA_APIKEY&url=https://twitter.com/faqeeyaaz/status/1242789155173617664?s=20&t=DRgdl9U8MwTwpY0o1o-96g" target="_blank">Twitter</a>
                        <a class="collapse-item" href="/api/tikok?apikey=SUA_APIKEY&url=https://www.tiktok.com/@oktober_.0/video/7253991864200645894" target="_blank">Tiktok Foto do slide</a>
                        <a class="collapse-item" href="/api/tikok?apikey=SUA_APIKEY&url=https://www.tiktok.com/@alipje29/video/7090119331685682458" target="_blank">Tiktok Mp4 Mp3</a>
                        <a class="collapse-item" href="/api/soundcloud?apikey=SUA_APIKEY&url=https://soundcloud.com/ndaa-212683099/dj-coba-kau-ingat-ingat-kembali-seharusnya-aku-jungle-dutch-terbaru-2021-full-bass-viral-tik?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank">SoundCloud</a>         
                </div>
                </div>
            </li>
            
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseserch" aria-expanded="true" aria-controls="collapseTable">
                        <i class="fa fa-fw fa-search"></i>
                        <span>Search</span>
                    </a>
                    <div id="collapseserch" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                        <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Pesquisas</h6>
                        <a class="collapse-item" href="/api/playstore?apikey=SUA_APIKEY&nome=Free Fire" target="_blank">PlayStore</a>
                        <a class="collapse-item" href="/api/amazon?apikey=SUA_APIKEY&nome=Iphone 14 Pro Max" target="_blank">Amazon</a>      
                        <a class="collapse-item" href="/api/globo?apikey=SUA_APIKEY" target="_blank">Globo</a>
                        </div>
                    </div>
                </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextPro" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-font"></i>
                    <span>Text Pro</span>
                </a>
                <div id="collapseTextPro" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">MONTAGENS</h6>
                        <a class="collapse-item" href="/pencil?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">Pencils</a>
                        <a class="collapse-item" href="/glitch?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">Glitch</a>
                        <a class="collapse-item" href="/berry?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">Berry</a>
                        <a class="collapse-item" href="/blackpink?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">Black pink</a>
                        <a class="collapse-item" href="/neon?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">Neon</a>
                        <a class="collapse-item" href="/logobear?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">Logo Bear</a>
                        <a class="collapse-item" href="/3dchristmas?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">3D Christmas</a>
                        <a class="collapse-item" href="/thunder?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">Thunder</a>
                        <a class="collapse-item" href="/3dboxtext?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">3D Box</a>
                        <a class="collapse-item" href="/glitch2?apikey=SUA-APIKEY&pesquisa=Elias&pesquisa2=pro" target="_blank">Glitch2</a>
                        <a class="collapse-item" href="/glitchtiktok?apikey=SUA-APIKEY&pesquisa=Elias&pesquisa2=pro" target="_blank">Glitch Tiktok</a>
                        <a class="collapse-item" href="/video-game-classic?apikey=SUA-APIKEY&pesquisa=Elias&pesquisa2=pro" target="_blank">Video Game Classic</a>
                        <a class="collapse-item" href="/marvel-studios?apikey=SUA-APIKEY&pesquisa=Elias&pesquisa2=pro" target="_blank">Marvel Studios</a>
                        <a class="collapse-item" href="/ninja-logo?apikey=SUA-APIKEY&pesquisa=Elias&pesquisa2=pro" target="_blank">Ninja Logo</a>
                        <a class="collapse-item" href="/transformer?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">Transformer</a>
                        <a class="collapse-item" href="/green-horror?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">Green Horrorer</a>
                        <a class="collapse-item" href="/magma?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">Magma</a>
                        <a class="collapse-item" href="/3d-neon-light?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">3d Neon Light</a>
                        <a class="collapse-item" href="/3d-orange-juice?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">3d Orange Juice</a>
                        <a class="collapse-item" href="/chocolate-cake?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">Chocolate Cake</a>
                        <a class="collapse-item" href="/strawberry?apikey=SUA-APIKEY&pesquisa=Elias" target="_blank">Strawberry</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsegame" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-gamepad"></i>
                    <span>Game</span>
                </a>
                <div id="collapsegame" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Game Features</h6>
            <p>Nada ainda</p>
            </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaker" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-paint-brush"></i>
                    <span>Maker</span>
                </a>
                <div id="collapseMaker" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Image Manipulation</h6>
                        <p>Nada ainda</p>
            </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTools" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <span>Tools</span>
                </a>
                <div id="collapseTools" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tools Features</h6>
                        <p>Nada ainda</p>
            </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fab fa-fw fa-acquisitions-incorporated"></i>
                    <span>Islamic</span>
                </a>
                <div id="collapseIslamic" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Islam Masyaallah</h6>
                        <a class="collapse-item" target="_blank" href="api/islamic/surah?no=1">Search Surah</a>                  
                        <a class="collapse-item" target="_blank" href="api/islamic/tafsirsurah?text=adam">Tafsir Surah</a>                  

                      </div>
                </div>

                <div class="sidebar-heading">
                    Contact
                </div>
                <br>
                <li class="nav-item">
                    <a class="nav-link" href="https://youtube.com/@elias-modder">
                        <i class="fab fa-fw fa-youtube"></i>
                        <span>Youtube</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/elias_grubert_2023?igsh=OGQ5ZDc2ODk2ZA==">
                        <i class="fab fa-fw fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                </li>

                </li>

 
        </ul>
 
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
              
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow"></li>
                    </ul>
                </nav>

                    <div class="container-fluid" id="container-wrapper">
                        <div class="card h-50 mb-4">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-md-left font-weight-bold mb-2 text-primary">🍷Elias Modder Ofc🍷 </div>
                                        <div class="text-sm-left mb-0 font-weight-bold">Olá Seja Bem Vindo a minha Reset Api, Use Com Alegria!!! Ass= Elias Modder Ofc</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-solid fa-code fa-2x text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row mb-3"> 

                      <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                            <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">VISITANTES</div>
                    <a href='https://contador.s12.com.br'>
                    <img src='https://contador.s12.com.br/img-AA4AD1155bDBCC54-88.gif' border='0' alt='contador gratuito de visitas'></a>
                    <script type='text/javascript' src='https://contador.s12.com.br/ad.js?id=AA4AD1155bDBCC54'></script>
                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-eye fa-2xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">BATERIA</div>
                                        <span id="battery_level" class="h5 mb-0 font-weight-bold">Waiting... </span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-battery-full fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                <div id="findipurl"> <a href="find-ip.net" ></a></div>

        <!--    <script defer src="https://api.find-ip.net/widget.js?width=220&bg=%23181818&border=%23181818&textcol=%23d3d5f3&language=0&system=0&"></script>-->


                <div class="Box mt-4">
                    <div class="Box-body p-4">
                      <div class="d-flex flex-justify-between">
                        <div class="text-mono text-small mb-3">
                        </div>
                      </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            Contact Me
                            <p>
                                <a href="https://youtube.com/@elias-modder" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fab fa-fw fa-youtube"></i>&nbsp;YouTube</a>
                                <a href="https://www.instagram.com/elias_grubert_2023?igsh=OGQ5ZDc2ODk2ZA==" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-instagram"></i>&nbsp;Instagram</a>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
             
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Criado por <i class="fa fa-heart"></i> by
                        <a href="https://whatsapp.com/channel/0029VaCkRMcC6ZvpMvcKd33a" target="_blank" style="color: rgb(255, 234, 0);">Elias Modder🇧🇷</a>
                        </span>
                    </div>
                </div>
            </footer>
       
        </div>
    </div>

    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

          
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="/jquery.easing.min.js"></script>
    <script src="/ruang-admin.min.js"></script>
    <script src="/menu.js"></script>
    

</body>

</html>